<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://toppng.com/uploads/preview/youtube-like-icon-116093838438u2joytndx.png" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">Compra exitosa</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Tu compra ha sido realizada con exito, espera la confirmacion de la tienda</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br> <br>
  <br> <br>
  <br>
