<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="row d-flex flex-wrap align-items-center justify-content-between justify-content-lg-start">
        <div class="col-6 text-start">
            holas
        </div>
        <div class="col-6 text-end">
          <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" aria-label="cart-button">
            <i class="bi bi-shop-window"></i>
          </button>
        </div>
      </div>
    </div>
  </header>
  
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" >
    <app-cart-content></app-cart-content>
  </div>
